/**Codigo esecial para todos los estilos**/

:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #c7d0d8;
    --botones: #92a5cb;
    --botonesLog: #50679a;
    --blanco: #fff;
    --negro: #000;
    --colorTitulo: #292f33;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/**==========Codigo esecial para todos los estilos=========**/

.Header{
    border-bottom: .1rem solid var(--negro);
    margin-left: 2rem;
    margin-right: 2rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5rem solid var(--primario);
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;
}
.prueba{
    background-color: orange;
}